# Frontend — PRODUCTION
# Copy:  copy .env.prod.example .env.prod
# Run:   npm run build:prod && npm run start:prod

NEXT_PUBLIC_BACKEND_URL=https://b2bprocurement.vercel.app
NEXT_PUBLIC_FRONTEND_URL=https://b2bprocurementui.vercel.app
NEXT_PUBLIC_CENTRIFUGO_URL=wss://centrifugo-latest-31xv.onrender.com/connection/websocket
